asgiref
attrs
autobahn
Automat
cffi
channels
constantly
cryptography
daphne
Django
hyperlink
idna
incremental
pyasn1
pyasn1_modules
pycparser
pyOpenSSL
service-identity
setuptools
six
sqlparse
Twisted
txaio
typing_extensions
tzdata
zope.interface